@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    currentTime : @System.DateTime.Now
</div>
<div>
    <label>縣市</label>
    <input type="text" />
</div>
<div>
    <label>區域</label>
    <input type="text" />
</div>
<div>
    <label>地址</label>
    <input type="text" />
</div>