
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<table class="table table-striped">
    <tr>
        <td>
            test
        </td>
        <td>
            123
        </td>
        <td>
            test
        </td>
        <td>
            123
        </td>
    </tr>
    <tr>
        <td>test</td>
        <td>444</td>
        <td>test</td>
        <td>555</td>
    </tr>
</table>

@{Html.RenderPartial("_SysDatePartial");}
@{Html.RenderAction("", "");}

